body {
    font-family: 'DM Sans';
    font-style: normal;

    padding: 5px;
}
/*header*/
header {
    display: flex;
    align-items: center;
    gap: 193px;
}
.logo {
    display: flex; 
    flex-direction: row;
    padding: 6px;
    max-width: 185px;
    max-height: 63px;
    gap: 11px;

    align-content: center;

    order: 0;
   
}

.logo img {
    width: 45px;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    
}

 .logo h3 {
    width: 126px;
    height: 51px;

    font-size: 30px; 
    font-style: normal;
    font-weight: 400;
    line-height: 0px; 
    /* margin-top: auto; */
    margin-bottom: auto;

    width: 116px;
    height: 51px;
}

.Sumary {
    display: flex;
    gap:50.7px;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    width: 528px;
    height: 66px;

    background-color: #FFE7CC;
    border-radius: 13px;

    flex: none;
    order: 1;
}

.sumaryItens {
    color: black;
    text-decoration: none;
}

.sumaryItens:hover {
    color: #FDA202;
    text-decoration: underline;
}


.barra {
    height: 41.58px;
    width: 0px;
    border: 1.01406px solid #332000;
}
.account {
    display: flex;
    gap: 23px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 66px;

    background: #FFB766;
    border-radius: 30px;
    text-decoration: none;

    padding: 2.99753px;

    /*font*/
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;

    order: 2;
}

.play:hover, .join:hover, .view:hover {
    background-color: #FFE7CC;
    color: #FDA202;
    text-decoration: underline;
};

/* .play h4 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
} */






/* .play h4:hover {
    color: #FFB766;
} */

.account #secondaryplay {
    color: #FFFFFF;
    order: 0;

}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.99753px;

    border: 1px solid #FFB766;
    border-radius: 30px;

    width: 225px;
    height: 66px;

    order: 1;

    /*text*/
    color: #000000;
    text-decoration: none;

}

.login:hover {
    background: #FFB766;
    color: #FFFFFF;
    text-decoration: underline;
}

/*Main - opening*/

.opening h1 {
    font-family: 'Sans Forgetica';
    width: 567px;
    height: 280px;
    font-size: 77.1948px;

    letter-spacing: -0.02em;
}

.ball1 {
    position: absolute;
    left: 460px;
    top: 229px
}
.ball2 {
    position: absolute;
    left: 657px;
    top: 269px;
}
.ball3 {
    position: absolute;
    left: 786px;
    top: 484px;
}
.ball4 {
    position: absolute;
    left: 905px;
    top: 251px;

    z-index: 2;
}

.back-elderly {
    background-size: cover;
    position: absolute;
    left: 830px;
    top: 171px;

    z-index: 0;
}
.elder {
    position: absolute;
    left: 870px;
    top: 216px;

    z-index: 1;
}

/*Main - mid*/

.mid {
    display: inline-flex;
    margin-top: 10em;
    box-sizing: border-box;
    max-height: 680px;
}

.mid-man {
    margin-right: 35.04px;
}

.man {
    z-index: 5;
}
 .man {
    position: relative;
    bottom: 30em;
    z-index: 1;
} 

 .back-man {
    position: relative;
    background-size: cover;
    top: 1em;
    left: 2em;
    bottom: 110px; 

    z-index: 0;
} 

/*Mid-bottom*/

#mid-bottom {
    display: flex;
}

.mid-text h2 {
    font-weight: 400;
    font-size: 58.5px;
    line-height: 76px;
    letter-spacing: -0.02em;


}

.mid-text p {
    margin-top: -40px;
}

.join {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 66px;

    background: #FFB766;
    color: #FFFFFF;
    border-radius: 30px;

    padding: 2.99753px;

    /*text*/
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}

/* .join h4 {
    font-size: 20px;
    font-weight: 500;
} */

.comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 65%;
} 

#comment1 {
    box-sizing: content-box;
    width: 365px;
    height: 380px;
    margin-right: 20px;
    text-align: center;

    background: #FFFFFF;
    border-radius: 10px;
}
#comment2 {
    width: 365px;
    height: 200px;
    margin-top: 30px;
    text-align: center;

    background: #FFFFFF;
    border-radius: 10px;
}

#comment3 {
    width: 365px;
    height: 200px;
    margin-right: 20px;
    text-align: center;

    background: #FFFFFF;
    border-radius: 10px;
}

#comment4 {
    text-align: center;
    width: 365px;
    height: 428px;
    margin-top: -130px;

    background: #FFFFFF;
    border-radius: 10px;
}

.comment-right {
    margin-left: 25px;
}

.comment-right h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 58.5px;
    line-height: 76px;
    letter-spacing: -0.02em;

}

.comment-right p {
    width: 350px;
    margin-top: -40px;
}

.comment-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 66px;
    margin-top: 80px;

    background: #FFB766;
    border-radius: 30px;

    padding: 2.99753px;

    text-decoration: none;

    /*text*/
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

/*  .comment-right h4 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}  */

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding: 0 25px;
    width: 1276px;
    max-height: 300px;

    background: #FFE7CC;
    border-radius: 52.3765px;
}

footer h2 {
    font-weight: 400;
    font-size: 70.2857px;
    line-height: 92px;

    max-width: 50%;
}

footer p {
    margin-top: -40px;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;

    max-width: 50%;
}

footer a{
    flex-direction: row;
    margin: auto 0 auto 220px;
}


@keyframes fromtop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}